{% load static %}
<!DOCTYPE html>


<style>

body {
  background-color: #2D074D;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-image: url('{% static 'assets/img/Images/nnnn.jpg' %}');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}

</style>

<html lang="en">

<head>
    <title>Drew Token </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charSet="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/Images/imgg.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Drew  | Token" />
    <meta name="description" content=" Drew to the moon" />
    <meta name="keywords" content="nft,Drew Token,cat,animal,moon,ico,cryptocurrencies,binance,3D" />
    <meta property="og:type" content="website" />
    
    <meta property="og:title" content="Drew | TOken" />
    <meta property="og:description" content=" Drew to the Moon" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@Drew Of Sol" />
    <meta property="twitter:creator" content="@Drew Of Sol" />
    
    <meta property="twitter:title" content="Drew Token | Drew" />
    <meta property="twitter:description" content=" Drew to the Moon" />
    <meta property="og:image" content="./assets/images/icon.png" />
    <meta property="twitter:image" content="./assets/images/icon.png" />

    <link rel="stylesheet" href="{% static 'assetss/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/style.css' %}">
</head>

<body>


    <div class="container-fluid px-5 h-100">

        <div class="header text-center text-lg-left d-lg-flex">

            <div style="position: relative;z-index: 9999;">
                <!-- <img src="./assets/images/SVG/logo.svg" alt="Cats Of Sol" height="40" /> -->
            </div>
            <div class="d-lg-flex d-none">
                <div class="links">ComingSoon</div>
                <div class="links">ComingSoon</div>
                <div class="links">ComingSoon</div>
            </div>
        </div>

        <div class="brand text-center h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-6">
                    <div class="text_container">
                        <div class="mb-lg-3">
                        
                            <div><img src="{% static 'assets/img/Images/about_img02.png' %}" alt="Drew Token" id="logo"></div>
                            <div class="text-uppercase font-weight-bold coming_text">Presale Has Started</div>
                            <div class="description_text">$Drew Will Take us to the Moon...</div>
                        </div>
                        <div class="btns_container justify-content-center d-lg-flex">
                            <div>
                                <a href="https://beta.pinksale.finance/solana/launchpad/6UmqWtFtg1p2jkKJgbVs6nq5EDaei3CSBuouSFLMj6Nq"
                                    class="btn btn-danger presale_btn" target="_blank" rel="noopener noreferrer">Presale
                                    <img src="{% static 'assets/img/Images/about_img02.png' %}" height="20"
                                        alt=""></a>
                            </div>
                            <div class="mx-1"></div>
                            <div>
                                <a href="/airdrop/user/" class="btn btn-success audit_btn"
                                    target="_blank" rel="noopener noreferrer">Login <img
                                        src="{% static 'assets/img/Images/about_img02.png' %}" height="20"
                                        alt=""></a>
                            </div>

                        </div>
                        <ul class="countdown">
                            <h6 class="text-center">Presale Ends In</h6>
                            <li id="days">
                                <div class="number">08</div>
                                <div class="label">Days</div>
                            </li>
                            <li id="hours">
                                <div class="number">00</div>
                                <div class="label">Hours</div>
                            </li>
                            <li id="minutes">
                                <div class="number">00</div>
                                <div class="label">Minutes</div>
                            </li>
                            <li id="seconds">
                                <div class="number">00</div>
                                <div class="label">Seconds</div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center mt-lg-4 mt-2">
                            <div>
                                <a href="https://twitter.com/drewtoken_sol" target="_blank" rel="noopener noreferrer"
                                
                                    class="social_links"><img src="{% static 'assetss/images/SVG/twitter.svg' %}" height="50"></a>
                            </div>
                            <!-- <div>
                                <a href="#" target="_blank" rel="noopener noreferrer" class="social_links"><img
                                        src="./assets/images/SVG/discord.svg" height="50" class="ml-4"></a>
                            </div> -->
                            <div>
                                <a href="https://t.me/drewtoken_sol" target="_blank" rel="noopener noreferrer"
                                
                                    class="social_links"><img src="{% static 'assetss/images/SVG/telegram.svg' %}" height="50"
                                        class="ml-4"></a>
                            </div>
                            <!-- <div>
                                <a href="#" target="_blank" rel="noopener noreferrer" class="social_links"><img
                                        src="./assets/images/SVG/instagram.svg" height="50" class="ml-4"></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 position-static">

                    <div class="cats_slider">
                        <picture>
                            <source media="(max-width:992px)" srcset="{% static 'assets/img/Images/imhh.png' %}">
                            <source media="(min-width:993px)" srcset="{% static 'assets/img/Images/imhh.png' %}">
                            <img src="{% static 'assets/img/Images/imhh.png' %}">
                        </picture>
                    </div>
                    <div class="cats_slider">
                        <picture>
                            <source media="(max-width:992px)" srcset="{% static 'assets/img/Images/imhh3.png' %}">
                            <source media="(min-width:993px)" srcset="{% static 'assets/img/Images/imhh3.png' %}">
                            <img src="{% static 'assets/img/Images/imhh3.png' %}">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="btns_container_mobile">
        <div class="d-flex d-lg-none justify-content-center">
            <div>
                <a href="https://beta.pinksale.finance/solana/launchpad/7wSZAw9Bw8KQ7Q1ZZ2PFoUxRtMYr5QMKuAMqHgsGW82d"
                    class="btn btn-danger presale_btn" target="_blank" rel="noopener noreferrer">Presale <img
                        src="./assets/images/SVG/icons/pinksale-logo-vector.svg" height="20" alt=""></a>
            </div>
            <div class="mx-1"></div>
            <div>
                <a href="/airdrop/user/" class="btn btn-success audit_btn" target="_blank"
                    rel="noopener noreferrer">Login <img src="./assets/images/SVG/icons/audit-report-svgrepo-com.svg"
                        height="20" alt=""></a>
            </div>
        </div>
        <!-- <ul class="d-lg-none countdown">
            <h5 class="text-center">Presale Ends In</h5>
            <li id="days">
                <div class="number">00</div>
                <div class="label">Days</div>
            </li>
            <li id="hours">
                <div class="number">00</div>
                <div class="label">Hours</div>
            </li>
            <li id="minutes">
                <div class="number">00</div>
                <div class="label">Minutes</div>
            </li>
            <li id="seconds">
                <div class="number">00</div>
                <div class="label">Seconds</div>
            </li>
        </ul> -->
    </div>
    
    <script src="{% static 'assetss/js/jquery.js' %}"></script>
    <script src="{% static 'assetss/js/easing.js' %}"></script>

    <script src="{% static 'assetss/js/script.js' %}"></script>
</body>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2981155496128353"
    crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q4VJ96MVR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7Q4VJ96MVR');
</script>

</html>