 
  ul.countdown {
       /* position: relative; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    /* border: 1px solid #adafb2; */
    border-width: 1px 0;
    overflow: hidden;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background: rgba(0, 0, 0, .2);
    margin-top: 5px;
    
  }

  ul.countdown li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    font-size: 4vw;
    text-align: center;
    
    .label {
      color: #adafb2;
      font-size: 18px;
      font-size: 1.5vw;
      text-transform: uppercase;
    }
  }

  .ul.countdown:first-child{
    display: none;
  }

  @media (min-width: 992px) {

    .ul.countdown:first-child{
      display: block;
    }
    ul.countdown{
        width: 100%;
        background: unset;
    }

    ul.countdown h5 {
        font-size: 1.7rem;
    }

    ul.countdown li{
        font-size: 20px;
    }

    ul.countdown li .label {
        font-size: 15px;
    } 
  }

  ul.countdown li .label {
    display: none !important;
  }